ASPNETCORE_ENVIRONMENT=Development
API_PORT=8080

POSTGRES_DB=poseidon
POSTGRES_ADMIN_USER=poseidon_admin
POSTGRES_ADMIN_PASSWORD=poseidon_admin_dev_password
POSTGRES_APP_USER=poseidon_app
POSTGRES_APP_PASSWORD=poseidon_app_dev_password
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=poseidon
RABBITMQ_DEFAULT_PASS=poseidon_dev_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
